{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- code for the actual page -->
    <div class="card" >
        <div class="card-header">
            <h2>Uploading New Member</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class = "col-6">
                {{ form.name|as_crispy_field}}
                </div>
                <div class = "col-6">
                {{ form.where_to_status|as_crispy_field}}
                </div>
            </div>
            {{ form.text|as_crispy_field }}
                {{ form.photo|as_crispy_field }}
                <br>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
</div>
    <script>var editor = new MediumEditor('.editable');</script>
{% endblock %}